<%- include('../includes/head.ejs')  %>
<link rel="stylesheet" href="/css/cadastro.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <section>
    <div class="container">
      <div class="bloco-cadastro">
        <form action="<% if (editing) { %>/admin/edit-news<% } else { %>/admin/addNews<% } %>" class="form-cadastro" method="post">
          <label for="">Título</label>
          <input type="text" name="title" id="title" value="<% if (editing) { %><%= news_.title %><% } %>" required>
          <label for="">Imagem</label>
          <input type="url" name="imageUrl" id="imageUrl" value="<% if (editing) { %><%= news_.imageUrl %><% } %>">
          <label for="">Texto</label>
          <textarea name="desc" id="desc" cols="30" rows="10" required><% if (editing) { %><%= news_.desc %><% } %></textarea>
          <% if (editing) { %><input type="hidden" name="newsId" value="<%= news_.id %>"><% } %>
          <button class="btn-cadastro">Cadastrar notícia</button>
        </form>
      </div>
    </div>
  </section>
  <script src="/js/news-busca.js"></script>
</body>