<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <section>
    <div class="news-table">
      <div class="news-table-content">
        <% if (news.length > 0) { %>
        <% const resultBusca_ = resultBusca %>
        <% if (resultBusca_ !== null) { %>
        <% for (let news_ of news) { %>
        <div class="news">
          <h2><%= news_.title %></h2>
          <div class="news-img">
            <img src="<%= news_.imageUrl %>" alt="<%= news_.title %>">
          </div>
          <p><%= news_.desc %></p>
        </div>
        <% } %>
        <% } else if (resultBusca_ == null) { %>
        <% for (let news_ of news) { %>
        <div class="news">
          <h2><%= news_.title %></h2>
          <div class="news-img">
            <img src="<%= news_.imageUrl %>" alt="<%= news_.title %>">
          </div>
          <p><%= news_.desc %></p>
          <a class="btn-news" href="/news-detail/<%= news_.id %>">ler mais</a>
        </div>
        <% } %>
        <% } %>
        <% } %> 
      </div>
    </div>
    </div>
  </section>
  <script src="/js/news.js"></script>
</body>